@import "tailwindcss";

:root {
  --primary-color: #2563eb;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; /* Make sure to add Inter font link in index.html */
  background-color: #ffffff;
  color: #1a1a1a;
  scroll-behavior: smooth;
}

section {
  padding: 100px 0;
}